# Composer
/vendor

# NPM
/node_modules
npm-debug.log

# Semantic UI
/semantic

# Builds
/public/css
/public/js
/public/fonts
/public/docs
/public/images

# Uploads
/public/uploads/*.*

# Application
.env
/database/*.sqlite
.jshintrc
ftp.json
