.profile_img {
    background-size:cover;
    width:200px;
    height:200px;
    background-position: 50% 50%;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
}

.profile_img_right {
    background-size:cover;
    width:100px;
    height:100px;
    background-position: 50% 50%;
    border-radius: 100px;
}
