    .start-item {
        .ui.grid.item.header {
            padding-top: 10px !important;
            padding-bottom: 4px !important;
            padding-left: 10px !important;
            padding-right: 6px !important;
        }
        .ui.container.right.aligned.four.wide.column {
            padding: 0px !important;
            margin: 0px !important;
        }

        .twelve.wide.column {
            padding: 0px !important;
        }

        .icon.external.square {
            margin: 0px !important
        }

        .plus.icon.square.right.floated {
            margin: 0px !important
        }

        .ui.vertical.fluid.compact.menu.computer.tablet.only.row {
            padding-top: 0px !important
        }
    }
