.ui.table {

    th.link {
        cursor: pointer !important;
    }
    th.slim {
        padding: 0px;
    }

}

.nowrap {
    white-space: nowrap;
}
.trunc-mob {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.trunc-tab {
    width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.trunc-comp {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.active-interval {
    background-color: rgba(0,255,0, .2) !important;
}

div.ui.icon.button.hover-default:hover {
    background-color: #eee !important;
}

div.ui.icon.button.hover-primary:hover {
    background-color: #2185d0 !important;
    color: #fff !important;
}

div.ui.icon.button.hover-danger:hover {
    background-color: #db2828 !important;
    color: #fff !important;
}

.icon-style {
    opacity: 0.8 !important;
    color: #000 !important;
}

.no-padding {
    padding: 0px !important;
}
