@import "semantic/dist/semantic.min";

.ui.table {

    th.link {
        cursor: pointer !important;
    }

    .ui.buttons {

        .active-interval {
            color: #050;
            text-shadow: 2px 2px 8px #21ba45;
        }

        .ui.button.hover-default:hover {
            background-color: #eee !important;
        }

        .ui.button.hover-primary:hover {
            background-color: #2185d0 !important;
            color: #fff !important;
        }

        .ui.button.hover-danger:hover {
            background-color: #db2828 !important;
            color: #fff !important;
        }

    }


}
