
html, body, #app {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 768px) {
    .ui.container {
        padding-left: 15px !important;
        padding-right: 15px !important;
        margin-top: 2px !important;
        margin-bottom: 2px !important;
    }
    //.ui.attached, .ui.dividing.header {
    //    margin-left: -6px !important;
    //    margin-right: -6px !important;
    //}
}

#rootcontainer, #footercontainer {
    max-width: 880px !important;     
}

.link {
    cursor: pointer !important;
}
