html, body, #app {
    width: 100%;
    height: 100%;
    background-color: $body-bg !important
}

body.pushable>.pusher {
    background-color: $body-bg !important
}

//Root and footer containers
#rootcontainer, #footercontainer {    
    width: 100%;
   
   //Up until desktop layout
    @media screen and (max-width: 991px) {
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    
    //Up until: ; mobile layout
    @media screen and (max-width: 425px) {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    //Between mobile and tablet layout
    @media screen and (min-width: 426px) and (max-width: 768px){
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    //Between tablet and desktop layout
    @media screen and (min-width: 768px) and (max-width: 991px){
        padding-left: 20px !important;
        padding-right: 20px !important;
        
        .ui.grid.container {
            width: 100% !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
        }
    }

    //Desktop layout
    @media screen and (min-width: 992px){
        max-width: 880px !important; 
    }
}

#navbarcontainer {
    
    //Up until tablet layout
    @media screen and (max-width: 768px) {
        .ui.container {
            margin-left: 0px !important;
            margin-right: 0px !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
    }

    // Mobile layout
    @media screen and (max-width: 425px) {
        
        //UI layout
        .item.right.floated {
            margin-right: 0px !important;
            padding-right: 10px !important;
        }
        .item.left.floated {
            margin-left: 0px !important;
            padding-left: 10px !important;
        }

        //Shop layout
        .section.item {
            padding-left: 10px !important;
        }
        .section.right.item {
            padding-right: 10px !important;
        }
    }

    // Mobile and tablet layout settings
    @media screen and (min-width: 426px) and (max-width: 991px) {
        .item.left.floated {
            margin-left: 0px !important;
            padding-left: 10px !important;
            margin-right: 0px !important;
        }
        .item.right.floated {
            padding-right: 10px !important;
            margin-right: 0px !important;
        }

        //Shop layout
        .section.item {
            padding-left: 20px !important;
        }
        .section.right.item {
            padding-right: 20px !important;
        }
    }

    // Between mobile and tablet layout
    @media screen and (min-width: 426px) and (max-width: 768px) {
        .item.right.floated {
            margin-right: 0px !important;
            padding-right: 20px !important;
        }
        .item.left.floated {
            margin-left: 0px !important;
            padding-left: 20px !important;
        }
    }

    //Between tablet and desktop layout
    @media screen and (min-width: 768px) and (max-width: 991px){
        .ui.container {
            width: 100% !important;
        }
    }
}

#contactcards {

    @media screen and (max-width: 425px) {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    @media screen and (min-width: 426px) and (max-width: 768px) {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    @media screen and (min-width: 768px) {
        padding-left: 14px !important;
    }
}


.link {
    cursor: pointer !important;
}

.ui.inverted.menu{
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #009248), color-stop(1, #62bb46) ); 
}

.no-padding {
    padding: 0px !important;
}

.no-right-padding {
    padding-right: 0px !important;
}

.no-top-padding {
    padding-top: 0px !important;
}

.no-top-bottom-padding {
    padding-top: 10px !important; 
    padding-bottom: 10px !important;
}

.wrap-lines {
    white-space: pre-wrap;
}

.ui.card>.extra, .ui.cards>.card>.extra {
    border-top: 1px solid $laravel-border-color !important;
}