.navbar-nav {
    li.navbar-link:not(:first-child)::before {
            //content: '|';
            //float: left;
            //height: 50px;
    }

    a.router-link-active {
        border-bottom: 1px solid $brand-primary;
    }

    a:hover {
        text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    }

    .dropdown.open {
        .dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:focus  {
            background: $navbar-default-bg;
        }
    }

}
.divider-vertical {
    height: 30px;
    margin: 10px 1px;
    border-left:
    1px solid #F2F2F2;
    border-right: 1px solid #FFF;
}                        
.nav-tabs {

    border-bottom: 1px solid transparent;

    // Make space for border-radius on panel below
    li:first-child {
        margin-left: 4px;
    }
    li:last-child {
        margin-right: 4px;
    }

    li {

        a.router-link-active {
            border: 1px solid $laravel-border-color;
            border-bottom: 1px solid transparent;

            position: relative;
            bottom: -1px;
        }

        a.router-link-active,
        a.router-link-active:hover,
        a.router-link-active:active {
            background: $navbar-active-route-bg;
        }

        a.router-link-active:hover {
            border-bottom: 1px solid transparent;
            text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
        }

    }
}
